In [4]:
import numpy as np

In [5]:
import pandas as pd
from google.colab import files
Data=files.upload()

Saving students_data.csv to students_data.csv

In [6]:
df=pd.read_csv('students_data.csv')
df

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
0,100,jane smith,16.0,female,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,Male,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,NaN,MALE,10,NaN,missing,69,06/12/2022,needs improvement
3,103,jane smith,16.0,FEMALE,10,NaN,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.0,male,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,Female,10,NaN,NaN,83,06/12/2022,needs improvement
6,106,ali Khan,17.0,female,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,female,12,NaN,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,Female,12,80.0,missing,89,06/12/2022,poor
9,109,Robert Brown,17.0,female,12,NaN,missing,97,10-06-2022,needs improvement
10,110,lucy gray,17.0,male,11th,65.0,67,100,06/12/2022,excellent
11,111,Simran Singh,16.0,FEMALE,11th,NaN,missing,95,2022-06-10,average
12,112,Patel R.,17.0,female,11,NaN,87,89,2022-06-10,poor
13,113,Patel R.,17.0,male,10,NaN,NaN,98,06/12/2022,Average
14,114,Ali Khan,17.0,male,12,NaN,91,67,2022/06/11,poor
15,115,Lucy gray,16.0,Female,12,65.0,91,94,06/12/2022,Average
16,116,Chris P.,NaN,Female,11,NaN,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18.0,male,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,Male,10,100.0,74,62,2022/06/11,average
19,119,Patel R.,17.0,MALE,11th,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,Male,10,NaN,missing,89,2022-06-10,average
21,121,John Doe,18.0,female,11,66.0,72,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,MALE,11th,75.0,NaN,66,2022-06-10,good student
23,123,jane smith,17.0,Female,11th,NaN,missing,63,06/12/2022,excellent
24,124,John Doe,18.0,MALE,11th,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,Male,12,94.0,80,63,10-06-2022,Average
26,126,John Doe,NaN,Male,10th,64.0,missing,67,06/12/2022,good student
27,127,Simran Singh,16.0,FEMALE,12,NaN,76,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,female,11,NaN,64,89,2022-06-10,average
29,129,Patel R.,17.0,male,11,NaN,64,83,2022/06/11,Average
30,129,Patel R.,17.0,male,11,NaN,64,83,2022/06/11,Average

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   student_id     31 non-null     int64
 1   name           31 non-null     object
 2   age            28 non-null     float64
 3   gender         31 non-null     object
 4   grade          31 non-null     object
 5   math_score     13 non-null     float64
 6   english_score  23 non-null     object
 7   science_score  31 non-null     int64
 8   enrolled_date  31 non-null     object
 9   remarks        31 non-null     object
dtypes: float64(2), int64(2), object(6)
memory usage: 2.6+ KB

In [8]:
df.describe(include='all')

,student_id,name,age,gender,grade,math_score,english_score,science_score,enrolled_date,remarks
count,31.000000,31,28.000000,31,31,13.000000,23,31.000000,31,31
unique,NaN,12,NaN,6,5,NaN,12,NaN,4,8
top,NaN,Sara O'Neil,NaN,female,11,NaN,missing,NaN,06/12/2022,Average
freq,NaN,5,NaN,7,9,NaN,8,NaN,12,6
mean,114.967742,NaN,16.785714,NaN,NaN,74.000000,NaN,79.903226,NaN,NaN
std,9.038746,NaN,0.629941,NaN,NaN,11.510864,NaN,13.095431,NaN,NaN
min,100.000000,NaN,16.000000,NaN,NaN,64.000000,NaN,62.000000,NaN,NaN
25%,107.500000,NaN,16.000000,NaN,NaN,65.000000,NaN,66.500000,NaN,NaN
50%,115.000000,NaN,17.000000,NaN,NaN,73.000000,NaN,83.000000,NaN,NaN
75%,122.500000,NaN,17.000000,NaN,NaN,75.000000,NaN,90.500000,NaN,NaN
max,129.000000,NaN,18.000000,NaN,NaN,100.000000,NaN,100.000000,NaN,NaN

In [9]:
df.isnull().sum()

student_id        0
name              0
age               3
gender            0
grade             0
math_score       18
english_score     8
science_score     0
enrolled_date     0
remarks           0
dtype: int64

In [36]:
df=df.rename(columns={"students_id":"ID","name":"Name","age":"Age","gender":"Gender","grade":"Class","math_score":"Math_Score","english_score":"English_Score","science_score":"Science_Score","enrolled_date":"Enrolled_Date","remarks":"Remarks"})
df

,student_id,Age,Gender,Class,Math_Score,English_Score,Science_Score,Enrolled_Date,Remarks,First_Name,Last_Name
0,100,16,F,XI,75,0,66,2022-06-10,A,jane,smith
1,101,16,M,X,74,95,94,10-06-2022,B,John,Doe
2,102,0,M,X,0,0,69,06-12-2022,E,Chris,P
3,103,16,F,X,0,0,62,10-06-2022,C,jane,smith
4,104,16,M,XI,0,96,64,2022-06-10,B,Sara,O'Neil
5,105,16,F,X,0,0,83,06-12-2022,E,Mike,O’Reilly
6,106,17,F,XI,64,0,75,06-12-2022,B,ali,Khan
7,107,17,F,XII,0,63,62,2022-06-11,A,Sara,O'Neil
8,108,16,F,XII,80,0,89,06-12-2022,D,Mike,O’Reilly
9,109,17,F,XII,0,0,97,10-06-2022,E,Robert,Brown
10,110,17,M,XI,65,67,100,06-12-2022,A,lucy,gray
11,111,16,F,XI,0,0,95,2022-06-10,C,Simran,Singh
12,112,17,F,XI,0,87,89,2022-06-10,D,Patel,R
13,113,17,M,X,0,0,98,06-12-2022,C,Patel,R
14,114,17,M,XII,0,91,67,2022-06-11,D,Ali,Khan
15,115,16,F,XII,65,91,94,06-12-2022,C,Lucy,gray
16,116,0,F,XI,0,0,72,2022-06-11,A,Chris,P
17,117,18,M,XI,67,74,81,2022-06-10,B,Ali,Khan
18,118,17,M,X,100,74,62,2022-06-11,C,Simran,Singh
19,119,17,M,XI,73,0,90,06-12-2022,B,Patel,R
20,120,17,M,X,0,0,89,2022-06-10,C,Sara,O'Neil
21,121,18,F,XI,66,72,94,10-06-2022,C,John,Doe
22,122,17,M,XI,75,0,66,2022-06-10,O,Sara,O'Neil
23,123,17,F,XI,0,0,63,06-12-2022,A,jane,smith
24,124,18,M,XI,0,0,91,06-12-2022,B,John,Doe
25,125,17,M,XII,94,80,63,10-06-2022,C,Mike,O’Reilly
26,126,0,M,X,64,0,67,06-12-2022,O,John,Doe
27,127,16,F,XII,0,76,80,06-12-2022,D,Simran,Singh
28,128,17,F,XI,0,64,89,2022-06-10,C,Sara,O'Neil
29,129,17,M,XI,0,64,83,2022-06-11,C,Patel,R
30,129,17,M,XI,0,64,83,2022-06-11,C,Patel,R

In [12]:
df["Gender"]=df["Gender"].replace({"male":"M","female":"F","MALE":"M","FEMALE":"F","Male":"M","Female":"F"})
df

,student_id,Name,Age,Gender,Class,Math_Score,English_Score,Science_Score,Enrolled_Date,Remarks
0,100,jane smith,16.0,F,11,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,M,10th,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,NaN,M,10,NaN,missing,69,06/12/2022,needs improvement
3,103,jane smith,16.0,F,10,NaN,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.0,M,11,NaN,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,F,10,NaN,NaN,83,06/12/2022,needs improvement
6,106,ali Khan,17.0,F,11,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,F,12,NaN,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,F,12,80.0,missing,89,06/12/2022,poor
9,109,Robert Brown,17.0,F,12,NaN,missing,97,10-06-2022,needs improvement
10,110,lucy gray,17.0,M,11th,65.0,67,100,06/12/2022,excellent
11,111,Simran Singh,16.0,F,11th,NaN,missing,95,2022-06-10,average
12,112,Patel R.,17.0,F,11,NaN,87,89,2022-06-10,poor
13,113,Patel R.,17.0,M,10,NaN,NaN,98,06/12/2022,Average
14,114,Ali Khan,17.0,M,12,NaN,91,67,2022/06/11,poor
15,115,Lucy gray,16.0,F,12,65.0,91,94,06/12/2022,Average
16,116,Chris P.,NaN,F,11,NaN,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18.0,M,11th,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,M,10,100.0,74,62,2022/06/11,average
19,119,Patel R.,17.0,M,11th,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,M,10,NaN,missing,89,2022-06-10,average
21,121,John Doe,18.0,F,11,66.0,72,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,M,11th,75.0,NaN,66,2022-06-10,good student
23,123,jane smith,17.0,F,11th,NaN,missing,63,06/12/2022,excellent
24,124,John Doe,18.0,M,11th,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,M,12,94.0,80,63,10-06-2022,Average
26,126,John Doe,NaN,M,10th,64.0,missing,67,06/12/2022,good student
27,127,Simran Singh,16.0,F,12,NaN,76,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,F,11,NaN,64,89,2022-06-10,average
29,129,Patel R.,17.0,M,11,NaN,64,83,2022/06/11,Average
30,129,Patel R.,17.0,M,11,NaN,64,83,2022/06/11,Average

In [13]:
df["Class"]=df["Class"].replace({"10th":"X","11th":"XI","12th":"XII","10":"X","11":"XI","12":"XII"})
df

,student_id,Name,Age,Gender,Class,Math_Score,English_Score,Science_Score,Enrolled_Date,Remarks
0,100,jane smith,16.0,F,XI,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16.0,M,X,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,NaN,M,X,NaN,missing,69,06/12/2022,needs improvement
3,103,jane smith,16.0,F,X,NaN,missing,62,10-06-2022,average
4,104,Sara O'Neil,16.0,M,XI,NaN,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16.0,F,X,NaN,NaN,83,06/12/2022,needs improvement
6,106,ali Khan,17.0,F,XI,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17.0,F,XII,NaN,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16.0,F,XII,80.0,missing,89,06/12/2022,poor
9,109,Robert Brown,17.0,F,XII,NaN,missing,97,10-06-2022,needs improvement
10,110,lucy gray,17.0,M,XI,65.0,67,100,06/12/2022,excellent
11,111,Simran Singh,16.0,F,XI,NaN,missing,95,2022-06-10,average
12,112,Patel R.,17.0,F,XI,NaN,87,89,2022-06-10,poor
13,113,Patel R.,17.0,M,X,NaN,NaN,98,06/12/2022,Average
14,114,Ali Khan,17.0,M,XII,NaN,91,67,2022/06/11,poor
15,115,Lucy gray,16.0,F,XII,65.0,91,94,06/12/2022,Average
16,116,Chris P.,NaN,F,XI,NaN,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18.0,M,XI,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17.0,M,X,100.0,74,62,2022/06/11,average
19,119,Patel R.,17.0,M,XI,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17.0,M,X,NaN,missing,89,2022-06-10,average
21,121,John Doe,18.0,F,XI,66.0,72,94,10-06-2022,Average
22,122,Sara O'Neil,17.0,M,XI,75.0,NaN,66,2022-06-10,good student
23,123,jane smith,17.0,F,XI,NaN,missing,63,06/12/2022,excellent
24,124,John Doe,18.0,M,XI,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17.0,M,XII,94.0,80,63,10-06-2022,Average
26,126,John Doe,NaN,M,X,64.0,missing,67,06/12/2022,good student
27,127,Simran Singh,16.0,F,XII,NaN,76,80,06/12/2022,poor
28,128,Sara O'Neil,17.0,F,XI,NaN,64,89,2022-06-10,average
29,129,Patel R.,17.0,M,XI,NaN,64,83,2022/06/11,Average
30,129,Patel R.,17.0,M,XI,NaN,64,83,2022/06/11,Average

In [14]:
df["Age"]=df["Age"].fillna(0).astype(int)
df

,student_id,Name,Age,Gender,Class,Math_Score,English_Score,Science_Score,Enrolled_Date,Remarks
0,100,jane smith,16,F,XI,75.0,NaN,66,2022-06-10,excellent
1,101,John Doe,16,M,X,74.0,95,94,10-06-2022,GOOD
2,102,Chris P.,0,M,X,NaN,missing,69,06/12/2022,needs improvement
3,103,jane smith,16,F,X,NaN,missing,62,10-06-2022,average
4,104,Sara O'Neil,16,M,XI,NaN,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16,F,X,NaN,NaN,83,06/12/2022,needs improvement
6,106,ali Khan,17,F,XI,64.0,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17,F,XII,NaN,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16,F,XII,80.0,missing,89,06/12/2022,poor
9,109,Robert Brown,17,F,XII,NaN,missing,97,10-06-2022,needs improvement
10,110,lucy gray,17,M,XI,65.0,67,100,06/12/2022,excellent
11,111,Simran Singh,16,F,XI,NaN,missing,95,2022-06-10,average
12,112,Patel R.,17,F,XI,NaN,87,89,2022-06-10,poor
13,113,Patel R.,17,M,X,NaN,NaN,98,06/12/2022,Average
14,114,Ali Khan,17,M,XII,NaN,91,67,2022/06/11,poor
15,115,Lucy gray,16,F,XII,65.0,91,94,06/12/2022,Average
16,116,Chris P.,0,F,XI,NaN,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18,M,XI,67.0,74,81,2022-06-10,GOOD
18,118,Simran Singh,17,M,X,100.0,74,62,2022/06/11,average
19,119,Patel R.,17,M,XI,73.0,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17,M,X,NaN,missing,89,2022-06-10,average
21,121,John Doe,18,F,XI,66.0,72,94,10-06-2022,Average
22,122,Sara O'Neil,17,M,XI,75.0,NaN,66,2022-06-10,good student
23,123,jane smith,17,F,XI,NaN,missing,63,06/12/2022,excellent
24,124,John Doe,18,M,XI,NaN,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17,M,XII,94.0,80,63,10-06-2022,Average
26,126,John Doe,0,M,X,64.0,missing,67,06/12/2022,good student
27,127,Simran Singh,16,F,XII,NaN,76,80,06/12/2022,poor
28,128,Sara O'Neil,17,F,XI,NaN,64,89,2022-06-10,average
29,129,Patel R.,17,M,XI,NaN,64,83,2022/06/11,Average
30,129,Patel R.,17,M,XI,NaN,64,83,2022/06/11,Average

In [15]:
df["Math_Score"]=df["Math_Score"].fillna(0).astype(int)
df

,student_id,Name,Age,Gender,Class,Math_Score,English_Score,Science_Score,Enrolled_Date,Remarks
0,100,jane smith,16,F,XI,75,NaN,66,2022-06-10,excellent
1,101,John Doe,16,M,X,74,95,94,10-06-2022,GOOD
2,102,Chris P.,0,M,X,0,missing,69,06/12/2022,needs improvement
3,103,jane smith,16,F,X,0,missing,62,10-06-2022,average
4,104,Sara O'Neil,16,M,XI,0,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16,F,X,0,NaN,83,06/12/2022,needs improvement
6,106,ali Khan,17,F,XI,64,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17,F,XII,0,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16,F,XII,80,missing,89,06/12/2022,poor
9,109,Robert Brown,17,F,XII,0,missing,97,10-06-2022,needs improvement
10,110,lucy gray,17,M,XI,65,67,100,06/12/2022,excellent
11,111,Simran Singh,16,F,XI,0,missing,95,2022-06-10,average
12,112,Patel R.,17,F,XI,0,87,89,2022-06-10,poor
13,113,Patel R.,17,M,X,0,NaN,98,06/12/2022,Average
14,114,Ali Khan,17,M,XII,0,91,67,2022/06/11,poor
15,115,Lucy gray,16,F,XII,65,91,94,06/12/2022,Average
16,116,Chris P.,0,F,XI,0,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18,M,XI,67,74,81,2022-06-10,GOOD
18,118,Simran Singh,17,M,X,100,74,62,2022/06/11,average
19,119,Patel R.,17,M,XI,73,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17,M,X,0,missing,89,2022-06-10,average
21,121,John Doe,18,F,XI,66,72,94,10-06-2022,Average
22,122,Sara O'Neil,17,M,XI,75,NaN,66,2022-06-10,good student
23,123,jane smith,17,F,XI,0,missing,63,06/12/2022,excellent
24,124,John Doe,18,M,XI,0,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17,M,XII,94,80,63,10-06-2022,Average
26,126,John Doe,0,M,X,64,missing,67,06/12/2022,good student
27,127,Simran Singh,16,F,XII,0,76,80,06/12/2022,poor
28,128,Sara O'Neil,17,F,XI,0,64,89,2022-06-10,average
29,129,Patel R.,17,M,XI,0,64,83,2022/06/11,Average
30,129,Patel R.,17,M,XI,0,64,83,2022/06/11,Average

In [17]:
df["English_Score"]=df["English_Score"].replace({"missing":"0"})
df

,student_id,Name,Age,Gender,Class,Math_Score,English_Score,Science_Score,Enrolled_Date,Remarks
0,100,jane smith,16,F,XI,75,NaN,66,2022-06-10,excellent
1,101,John Doe,16,M,X,74,95,94,10-06-2022,GOOD
2,102,Chris P.,0,M,X,0,0,69,06/12/2022,needs improvement
3,103,jane smith,16,F,X,0,0,62,10-06-2022,average
4,104,Sara O'Neil,16,M,XI,0,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16,F,X,0,NaN,83,06/12/2022,needs improvement
6,106,ali Khan,17,F,XI,64,NaN,75,06/12/2022,Good
7,107,Sara O'Neil,17,F,XII,0,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16,F,XII,80,0,89,06/12/2022,poor
9,109,Robert Brown,17,F,XII,0,0,97,10-06-2022,needs improvement
10,110,lucy gray,17,M,XI,65,67,100,06/12/2022,excellent
11,111,Simran Singh,16,F,XI,0,0,95,2022-06-10,average
12,112,Patel R.,17,F,XI,0,87,89,2022-06-10,poor
13,113,Patel R.,17,M,X,0,NaN,98,06/12/2022,Average
14,114,Ali Khan,17,M,XII,0,91,67,2022/06/11,poor
15,115,Lucy gray,16,F,XII,65,91,94,06/12/2022,Average
16,116,Chris P.,0,F,XI,0,NaN,72,2022/06/11,excellent
17,117,Ali Khan,18,M,XI,67,74,81,2022-06-10,GOOD
18,118,Simran Singh,17,M,X,100,74,62,2022/06/11,average
19,119,Patel R.,17,M,XI,73,NaN,90,06/12/2022,Good
20,120,Sara O'Neil,17,M,X,0,0,89,2022-06-10,average
21,121,John Doe,18,F,XI,66,72,94,10-06-2022,Average
22,122,Sara O'Neil,17,M,XI,75,NaN,66,2022-06-10,good student
23,123,jane smith,17,F,XI,0,0,63,06/12/2022,excellent
24,124,John Doe,18,M,XI,0,NaN,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17,M,XII,94,80,63,10-06-2022,Average
26,126,John Doe,0,M,X,64,0,67,06/12/2022,good student
27,127,Simran Singh,16,F,XII,0,76,80,06/12/2022,poor
28,128,Sara O'Neil,17,F,XI,0,64,89,2022-06-10,average
29,129,Patel R.,17,M,XI,0,64,83,2022/06/11,Average
30,129,Patel R.,17,M,XI,0,64,83,2022/06/11,Average

In [19]:
df["English_Score"]=df["English_Score"].fillna(0).astype(int)
print(df.head())

   student_id         Name  Age Gender Class  Math_Score  English_Score  \
0         100   jane smith   16      F    XI          75              0
1         101     John Doe   16      M     X          74             95
2         102     Chris P.    0      M     X           0              0
3         103   jane smith   16      F     X           0              0
4         104  Sara O'Neil   16      M    XI           0             96

   Science_Score Enrolled_Date            Remarks
0             66    2022-06-10          excellent
1             94    10-06-2022               GOOD
2             69    06/12/2022  needs improvement
3             62    10-06-2022            average
4             64    2022-06-10               GOOD

In [20]:
df["Name"]=df["Name"].str.strip()
df

,student_id,Name,Age,Gender,Class,Math_Score,English_Score,Science_Score,Enrolled_Date,Remarks
0,100,jane smith,16,F,XI,75,0,66,2022-06-10,excellent
1,101,John Doe,16,M,X,74,95,94,10-06-2022,GOOD
2,102,Chris P.,0,M,X,0,0,69,06/12/2022,needs improvement
3,103,jane smith,16,F,X,0,0,62,10-06-2022,average
4,104,Sara O'Neil,16,M,XI,0,96,64,2022-06-10,GOOD
5,105,Mike O’Reilly,16,F,X,0,0,83,06/12/2022,needs improvement
6,106,ali Khan,17,F,XI,64,0,75,06/12/2022,Good
7,107,Sara O'Neil,17,F,XII,0,63,62,2022/06/11,excellent
8,108,Mike O’Reilly,16,F,XII,80,0,89,06/12/2022,poor
9,109,Robert Brown,17,F,XII,0,0,97,10-06-2022,needs improvement
10,110,lucy gray,17,M,XI,65,67,100,06/12/2022,excellent
11,111,Simran Singh,16,F,XI,0,0,95,2022-06-10,average
12,112,Patel R.,17,F,XI,0,87,89,2022-06-10,poor
13,113,Patel R.,17,M,X,0,0,98,06/12/2022,Average
14,114,Ali Khan,17,M,XII,0,91,67,2022/06/11,poor
15,115,Lucy gray,16,F,XII,65,91,94,06/12/2022,Average
16,116,Chris P.,0,F,XI,0,0,72,2022/06/11,excellent
17,117,Ali Khan,18,M,XI,67,74,81,2022-06-10,GOOD
18,118,Simran Singh,17,M,X,100,74,62,2022/06/11,average
19,119,Patel R.,17,M,XI,73,0,90,06/12/2022,Good
20,120,Sara O'Neil,17,M,X,0,0,89,2022-06-10,average
21,121,John Doe,18,F,XI,66,72,94,10-06-2022,Average
22,122,Sara O'Neil,17,M,XI,75,0,66,2022-06-10,good student
23,123,jane smith,17,F,XI,0,0,63,06/12/2022,excellent
24,124,John Doe,18,M,XI,0,0,91,06/12/2022,GOOD
25,125,Mike O’Reilly,17,M,XII,94,80,63,10-06-2022,Average
26,126,John Doe,0,M,X,64,0,67,06/12/2022,good student
27,127,Simran Singh,16,F,XII,0,76,80,06/12/2022,poor
28,128,Sara O'Neil,17,F,XI,0,64,89,2022-06-10,average
29,129,Patel R.,17,M,XI,0,64,83,2022/06/11,Average
30,129,Patel R.,17,M,XI,0,64,83,2022/06/11,Average

In [24]:
df[["First_Name","Last_Name"]]=df["Name"].str.split(" ",n=1,expand=True)
df.drop(columns=["Name"],inplace=True)
df

,student_id,Age,Gender,Class,Math_Score,English_Score,Science_Score,Enrolled_Date,Remarks,First_Name,Last_Name
0,100,16,F,XI,75,0,66,2022-06-10,excellent,jane,smith
1,101,16,M,X,74,95,94,10-06-2022,GOOD,John,Doe
2,102,0,M,X,0,0,69,06/12/2022,needs improvement,Chris,P.
3,103,16,F,X,0,0,62,10-06-2022,average,jane,smith
4,104,16,M,XI,0,96,64,2022-06-10,GOOD,Sara,O'Neil
5,105,16,F,X,0,0,83,06/12/2022,needs improvement,Mike,O’Reilly
6,106,17,F,XI,64,0,75,06/12/2022,Good,ali,Khan
7,107,17,F,XII,0,63,62,2022/06/11,excellent,Sara,O'Neil
8,108,16,F,XII,80,0,89,06/12/2022,poor,Mike,O’Reilly
9,109,17,F,XII,0,0,97,10-06-2022,needs improvement,Robert,Brown
10,110,17,M,XI,65,67,100,06/12/2022,excellent,lucy,gray
11,111,16,F,XI,0,0,95,2022-06-10,average,Simran,Singh
12,112,17,F,XI,0,87,89,2022-06-10,poor,Patel,R.
13,113,17,M,X,0,0,98,06/12/2022,Average,Patel,R.
14,114,17,M,XII,0,91,67,2022/06/11,poor,Ali,Khan
15,115,16,F,XII,65,91,94,06/12/2022,Average,Lucy,gray
16,116,0,F,XI,0,0,72,2022/06/11,excellent,Chris,P.
17,117,18,M,XI,67,74,81,2022-06-10,GOOD,Ali,Khan
18,118,17,M,X,100,74,62,2022/06/11,average,Simran,Singh
19,119,17,M,XI,73,0,90,06/12/2022,Good,Patel,R.
20,120,17,M,X,0,0,89,2022-06-10,average,Sara,O'Neil
21,121,18,F,XI,66,72,94,10-06-2022,Average,John,Doe
22,122,17,M,XI,75,0,66,2022-06-10,good student,Sara,O'Neil
23,123,17,F,XI,0,0,63,06/12/2022,excellent,jane,smith
24,124,18,M,XI,0,0,91,06/12/2022,GOOD,John,Doe
25,125,17,M,XII,94,80,63,10-06-2022,Average,Mike,O’Reilly
26,126,0,M,X,64,0,67,06/12/2022,good student,John,Doe
27,127,16,F,XII,0,76,80,06/12/2022,poor,Simran,Singh
28,128,17,F,XI,0,64,89,2022-06-10,average,Sara,O'Neil
29,129,17,M,XI,0,64,83,2022/06/11,Average,Patel,R.
30,129,17,M,XI,0,64,83,2022/06/11,Average,Patel,R.

In [29]:
df["Remarks"]=df["Remarks"].replace({"excellent":"A","good":"B","GOOD":"B","average":"C","Average":"C","poor":"D","needs improvement":"E","good student":"O"})
df

,student_id,Age,Gender,Class,Math_Score,English_Score,Science_Score,Enrolled_Date,Remarks,First_Name,Last_Name
0,100,16,F,XI,75,0,66,2022-06-10,A,jane,smith
1,101,16,M,X,74,95,94,10-06-2022,B,John,Doe
2,102,0,M,X,0,0,69,06/12/2022,E,Chris,P.
3,103,16,F,X,0,0,62,10-06-2022,C,jane,smith
4,104,16,M,XI,0,96,64,2022-06-10,B,Sara,O'Neil
5,105,16,F,X,0,0,83,06/12/2022,E,Mike,O’Reilly
6,106,17,F,XI,64,0,75,06/12/2022,B,ali,Khan
7,107,17,F,XII,0,63,62,2022/06/11,A,Sara,O'Neil
8,108,16,F,XII,80,0,89,06/12/2022,D,Mike,O’Reilly
9,109,17,F,XII,0,0,97,10-06-2022,E,Robert,Brown
10,110,17,M,XI,65,67,100,06/12/2022,A,lucy,gray
11,111,16,F,XI,0,0,95,2022-06-10,C,Simran,Singh
12,112,17,F,XI,0,87,89,2022-06-10,D,Patel,R.
13,113,17,M,X,0,0,98,06/12/2022,C,Patel,R.
14,114,17,M,XII,0,91,67,2022/06/11,D,Ali,Khan
15,115,16,F,XII,65,91,94,06/12/2022,C,Lucy,gray
16,116,0,F,XI,0,0,72,2022/06/11,A,Chris,P.
17,117,18,M,XI,67,74,81,2022-06-10,B,Ali,Khan
18,118,17,M,X,100,74,62,2022/06/11,C,Simran,Singh
19,119,17,M,XI,73,0,90,06/12/2022,B,Patel,R.
20,120,17,M,X,0,0,89,2022-06-10,C,Sara,O'Neil
21,121,18,F,XI,66,72,94,10-06-2022,C,John,Doe
22,122,17,M,XI,75,0,66,2022-06-10,O,Sara,O'Neil
23,123,17,F,XI,0,0,63,06/12/2022,A,jane,smith
24,124,18,M,XI,0,0,91,06/12/2022,B,John,Doe
25,125,17,M,XII,94,80,63,10-06-2022,C,Mike,O’Reilly
26,126,0,M,X,64,0,67,06/12/2022,O,John,Doe
27,127,16,F,XII,0,76,80,06/12/2022,D,Simran,Singh
28,128,17,F,XI,0,64,89,2022-06-10,C,Sara,O'Neil
29,129,17,M,XI,0,64,83,2022/06/11,C,Patel,R.
30,129,17,M,XI,0,64,83,2022/06/11,C,Patel,R.

In [30]:
df["Enrolled_Date"]=df["Enrolled_Date"].astype(str).str.replace("/","-",regex=True)
df

,student_id,Age,Gender,Class,Math_Score,English_Score,Science_Score,Enrolled_Date,Remarks,First_Name,Last_Name
0,100,16,F,XI,75,0,66,2022-06-10,A,jane,smith
1,101,16,M,X,74,95,94,10-06-2022,B,John,Doe
2,102,0,M,X,0,0,69,06-12-2022,E,Chris,P.
3,103,16,F,X,0,0,62,10-06-2022,C,jane,smith
4,104,16,M,XI,0,96,64,2022-06-10,B,Sara,O'Neil
5,105,16,F,X,0,0,83,06-12-2022,E,Mike,O’Reilly
6,106,17,F,XI,64,0,75,06-12-2022,B,ali,Khan
7,107,17,F,XII,0,63,62,2022-06-11,A,Sara,O'Neil
8,108,16,F,XII,80,0,89,06-12-2022,D,Mike,O’Reilly
9,109,17,F,XII,0,0,97,10-06-2022,E,Robert,Brown
10,110,17,M,XI,65,67,100,06-12-2022,A,lucy,gray
11,111,16,F,XI,0,0,95,2022-06-10,C,Simran,Singh
12,112,17,F,XI,0,87,89,2022-06-10,D,Patel,R.
13,113,17,M,X,0,0,98,06-12-2022,C,Patel,R.
14,114,17,M,XII,0,91,67,2022-06-11,D,Ali,Khan
15,115,16,F,XII,65,91,94,06-12-2022,C,Lucy,gray
16,116,0,F,XI,0,0,72,2022-06-11,A,Chris,P.
17,117,18,M,XI,67,74,81,2022-06-10,B,Ali,Khan
18,118,17,M,X,100,74,62,2022-06-11,C,Simran,Singh
19,119,17,M,XI,73,0,90,06-12-2022,B,Patel,R.
20,120,17,M,X,0,0,89,2022-06-10,C,Sara,O'Neil
21,121,18,F,XI,66,72,94,10-06-2022,C,John,Doe
22,122,17,M,XI,75,0,66,2022-06-10,O,Sara,O'Neil
23,123,17,F,XI,0,0,63,06-12-2022,A,jane,smith
24,124,18,M,XI,0,0,91,06-12-2022,B,John,Doe
25,125,17,M,XII,94,80,63,10-06-2022,C,Mike,O’Reilly
26,126,0,M,X,64,0,67,06-12-2022,O,John,Doe
27,127,16,F,XII,0,76,80,06-12-2022,D,Simran,Singh
28,128,17,F,XI,0,64,89,2022-06-10,C,Sara,O'Neil
29,129,17,M,XI,0,64,83,2022-06-11,C,Patel,R.
30,129,17,M,XI,0,64,83,2022-06-11,C,Patel,R.

In [31]:
df["Last_Name"]=df["Last_Name"].str.strip(".")
df

,student_id,Age,Gender,Class,Math_Score,English_Score,Science_Score,Enrolled_Date,Remarks,First_Name,Last_Name
0,100,16,F,XI,75,0,66,2022-06-10,A,jane,smith
1,101,16,M,X,74,95,94,10-06-2022,B,John,Doe
2,102,0,M,X,0,0,69,06-12-2022,E,Chris,P
3,103,16,F,X,0,0,62,10-06-2022,C,jane,smith
4,104,16,M,XI,0,96,64,2022-06-10,B,Sara,O'Neil
5,105,16,F,X,0,0,83,06-12-2022,E,Mike,O’Reilly
6,106,17,F,XI,64,0,75,06-12-2022,B,ali,Khan
7,107,17,F,XII,0,63,62,2022-06-11,A,Sara,O'Neil
8,108,16,F,XII,80,0,89,06-12-2022,D,Mike,O’Reilly
9,109,17,F,XII,0,0,97,10-06-2022,E,Robert,Brown
10,110,17,M,XI,65,67,100,06-12-2022,A,lucy,gray
11,111,16,F,XI,0,0,95,2022-06-10,C,Simran,Singh
12,112,17,F,XI,0,87,89,2022-06-10,D,Patel,R
13,113,17,M,X,0,0,98,06-12-2022,C,Patel,R
14,114,17,M,XII,0,91,67,2022-06-11,D,Ali,Khan
15,115,16,F,XII,65,91,94,06-12-2022,C,Lucy,gray
16,116,0,F,XI,0,0,72,2022-06-11,A,Chris,P
17,117,18,M,XI,67,74,81,2022-06-10,B,Ali,Khan
18,118,17,M,X,100,74,62,2022-06-11,C,Simran,Singh
19,119,17,M,XI,73,0,90,06-12-2022,B,Patel,R
20,120,17,M,X,0,0,89,2022-06-10,C,Sara,O'Neil
21,121,18,F,XI,66,72,94,10-06-2022,C,John,Doe
22,122,17,M,XI,75,0,66,2022-06-10,O,Sara,O'Neil
23,123,17,F,XI,0,0,63,06-12-2022,A,jane,smith
24,124,18,M,XI,0,0,91,06-12-2022,B,John,Doe
25,125,17,M,XII,94,80,63,10-06-2022,C,Mike,O’Reilly
26,126,0,M,X,64,0,67,06-12-2022,O,John,Doe
27,127,16,F,XII,0,76,80,06-12-2022,D,Simran,Singh
28,128,17,F,XI,0,64,89,2022-06-10,C,Sara,O'Neil
29,129,17,M,XI,0,64,83,2022-06-11,C,Patel,R
30,129,17,M,XI,0,64,83,2022-06-11,C,Patel,R

In [37]:
df=df[
  [
        "student_id",
        "First_Name",
        "Last_Name",
        "Age",
        "Gender",
        "Class",
        "Math_Score",
        "English_Score",
        "Science_Score",
        "Enrolled_Date",
        "Remarks"
  ]
]
df

,student_id,First_Name,Last_Name,Age,Gender,Class,Math_Score,English_Score,Science_Score,Enrolled_Date,Remarks
0,100,jane,smith,16,F,XI,75,0,66,2022-06-10,A
1,101,John,Doe,16,M,X,74,95,94,10-06-2022,B
2,102,Chris,P,0,M,X,0,0,69,06-12-2022,E
3,103,jane,smith,16,F,X,0,0,62,10-06-2022,C
4,104,Sara,O'Neil,16,M,XI,0,96,64,2022-06-10,B
5,105,Mike,O’Reilly,16,F,X,0,0,83,06-12-2022,E
6,106,ali,Khan,17,F,XI,64,0,75,06-12-2022,B
7,107,Sara,O'Neil,17,F,XII,0,63,62,2022-06-11,A
8,108,Mike,O’Reilly,16,F,XII,80,0,89,06-12-2022,D
9,109,Robert,Brown,17,F,XII,0,0,97,10-06-2022,E
10,110,lucy,gray,17,M,XI,65,67,100,06-12-2022,A
11,111,Simran,Singh,16,F,XI,0,0,95,2022-06-10,C
12,112,Patel,R,17,F,XI,0,87,89,2022-06-10,D
13,113,Patel,R,17,M,X,0,0,98,06-12-2022,C
14,114,Ali,Khan,17,M,XII,0,91,67,2022-06-11,D
15,115,Lucy,gray,16,F,XII,65,91,94,06-12-2022,C
16,116,Chris,P,0,F,XI,0,0,72,2022-06-11,A
17,117,Ali,Khan,18,M,XI,67,74,81,2022-06-10,B
18,118,Simran,Singh,17,M,X,100,74,62,2022-06-11,C
19,119,Patel,R,17,M,XI,73,0,90,06-12-2022,B
20,120,Sara,O'Neil,17,M,X,0,0,89,2022-06-10,C
21,121,John,Doe,18,F,XI,66,72,94,10-06-2022,C
22,122,Sara,O'Neil,17,M,XI,75,0,66,2022-06-10,O
23,123,jane,smith,17,F,XI,0,0,63,06-12-2022,A
24,124,John,Doe,18,M,XI,0,0,91,06-12-2022,B
25,125,Mike,O’Reilly,17,M,XII,94,80,63,10-06-2022,C
26,126,John,Doe,0,M,X,64,0,67,06-12-2022,O
27,127,Simran,Singh,16,F,XII,0,76,80,06-12-2022,D
28,128,Sara,O'Neil,17,F,XI,0,64,89,2022-06-10,C
29,129,Patel,R,17,M,XI,0,64,83,2022-06-11,C
30,129,Patel,R,17,M,XI,0,64,83,2022-06-11,C

In [45]:
df["Enrolled_Date"]=pd.to_datetime(df["Enrolled_Date"],dayfirst=True,errors='coerce').dt.strftime('%d-%m-%y').fillna(df['Enrolled_Date'])
df

/tmp/ipython-input-2482842274.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Enrolled_Date"]=pd.to_datetime(df["Enrolled_Date"],dayfirst=True,errors='coerce').dt.strftime('%d-%m-%y').fillna(df['Enrolled_Date'])

,student_id,First_Name,Last_Name,Age,Gender,Class,Math_Score,English_Score,Science_Score,Enrolled_Date,Remarks
0,100,jane,smith,16,F,XI,75,0,66,06-10-22,A
1,101,John,Doe,16,M,X,74,95,94,10-06-22,B
2,102,Chris,P,0,M,X,0,0,69,06-12-22,E
3,103,jane,smith,16,F,X,0,0,62,10-06-22,C
4,104,Sara,O'Neil,16,M,XI,0,96,64,06-10-22,B
5,105,Mike,O’Reilly,16,F,X,0,0,83,06-12-22,E
6,106,ali,Khan,17,F,XI,64,0,75,06-12-22,B
7,107,Sara,O'Neil,17,F,XII,0,63,62,06-11-22,A
8,108,Mike,O’Reilly,16,F,XII,80,0,89,06-12-22,D
9,109,Robert,Brown,17,F,XII,0,0,97,10-06-22,E
10,110,lucy,gray,17,M,XI,65,67,100,06-12-22,A
11,111,Simran,Singh,16,F,XI,0,0,95,06-10-22,C
12,112,Patel,R,17,F,XI,0,87,89,06-10-22,D
13,113,Patel,R,17,M,X,0,0,98,06-12-22,C
14,114,Ali,Khan,17,M,XII,0,91,67,06-11-22,D
15,115,Lucy,gray,16,F,XII,65,91,94,06-12-22,C
16,116,Chris,P,0,F,XI,0,0,72,06-11-22,A
17,117,Ali,Khan,18,M,XI,67,74,81,06-10-22,B
18,118,Simran,Singh,17,M,X,100,74,62,06-11-22,C
19,119,Patel,R,17,M,XI,73,0,90,06-12-22,B
20,120,Sara,O'Neil,17,M,X,0,0,89,06-10-22,C
21,121,John,Doe,18,F,XI,66,72,94,10-06-22,C
22,122,Sara,O'Neil,17,M,XI,75,0,66,06-10-22,O
23,123,jane,smith,17,F,XI,0,0,63,06-12-22,A
24,124,John,Doe,18,M,XI,0,0,91,06-12-22,B
25,125,Mike,O’Reilly,17,M,XII,94,80,63,10-06-22,C
26,126,John,Doe,0,M,X,64,0,67,06-12-22,O
27,127,Simran,Singh,16,F,XII,0,76,80,06-12-22,D
28,128,Sara,O'Neil,17,F,XI,0,64,89,06-10-22,C
29,129,Patel,R,17,M,XI,0,64,83,06-11-22,C
30,129,Patel,R,17,M,XI,0,64,83,06-11-22,C